# Test Environment

## Imports

In [1]:
from operator import index

import pandas as pd
import random as rnd

from configurations import Config
from exercise_repository import ExerciseRepository
from defaults import Defaults
from timer import Timer
from map_elites import MapElites
from chromosome import Chromosome
from schedule import Schedule
from gene import Gene
from exercise import Exercise
from weight_loss_difference import WeightLossDifference

ImportError: cannot import name 'CsvManager' from 'csv_manager' (D:\Projects\honours-project\calorieBurnoutSchedule\src\csv_manager.py)

## Input Parameters

In [2]:
# Test data
chubby = {"initial_weight": 124, "target_weight": 64, "period": 12}
bob = {"initial_weight": 200, "target_weight": 70, "period": 7*4*12*2}
tania = {"initial_weight": 60, "target_weight": 50, "period": 12}
paul = {"initial_weight": 80, "target_weight": 55, "period": 7*4*12}
timmy = {"initial_weight": 70, "target_weight": 55, "period": 7*4*5}

# Chosen data
data = bob

# Show data
pd.DataFrame(
    [chubby, bob, tania, paul, timmy],
    index=[x.capitalize() for x in ["chubby", "bob", "tania", "paul", "timmy"]]
)

        initial_weight  target_weight  period
Chubby             124             64      12
Bob                200             70     672
Tania               60             50      12
Paul                80             55     336
Timmy               70             55     140

## Exercise Repository

In [3]:
repo = ExerciseRepository(Defaults.SMALL_COMPENDIUM_PATH)
print(repo)

EXERCISE REPOSITORY:
         Size: 96
    MET Range: 1 - 15
      Columns: ['idx', 'name', 'met', 'tags']

In [4]:
repo.item_at(rnd.choice(range(repo.size())))

idx                      0
name    Bicycling, general
met                    7.0
tags             Bicycling
Name: 0, dtype: object

## Configurations

In [5]:
config = Config(data["initial_weight"], data["target_weight"], data["period"])
print(config)

CONFIGURATIONS:
Number of Map Bins: 20
EXERCISE REPOSITORY:
         Size: 515
    MET Range: 1 - 23
      Columns: ['idx', 'name', 'met', 'tags']

Initial Weight: 200
Target Weight: 70
Period: 672
Exercise Index Range: range(0, 515)
Exercise Duration Range: range(15, 721, 15)
Daily Duration Range: range(0, 481)
Daily Duration Count Range: range(10, 11)
Base10 Schedule Range: range(1, 128)

## Timer

In [48]:
t = Timer()

i = 0

t.start()
for _ in range(rnd.randint(100000,500000)):
    i  += 1
    print(f"\r{i}", end='')
    
t.stop()
t.get_result()

141792

0.2

## Gene

In [7]:
gene = Gene(config)
print(gene)

[7, 720, 39]

In [8]:
gene.alter()

print(gene.exercise_index())
print(gene.duration())
print(gene.schedule_to_base(10))
print(gene.schedule_to_base(2))
print(gene.exercise_days())

7
720
40
0101000
['Tuesday', 'Thursday']

## Exercise

In [9]:
exercise = Exercise(Gene(config), config)
print(exercise)

EXERCISE PHENOTYPE:
          Name: Kayaking, slalom, flat water
      Category: Water Activities
     MET Value: 9.0
      Duration: 675 minutes
        Repeat: Thu, Fri, Sat
      Genotype: [389, 675, 14]
      Schedule: 0001110
     Frequency: 3

In [47]:
exercise.alter()
print(exercise)

EXERCISE PHENOTYPE:
          Name: Swimming, crawl, elite swimmers, competition, >90 yards/minute
      Category: Water Activities
     MET Value: 14.5
      Duration: 570 minutes
        Repeat: Mon, Tue, Wed, Sat
      Genotype: [428, 570, 114]
      Schedule: 1110010
     Frequency: 4

## Chromosome

In [54]:
print("Mutation Rates:")
print(f"      Mutation: {int(config.mutation_rate()*100)}%")
print(f"    Alteration: {int(config.alteration_rate()*100)}%")
print(f"      Addition: {int(config.addition_rate()*100)}%")
print(f"      Deletion: {int(config.deletion_rate()*100)}%")

Mutation Rates:
      Mutation: 70%
    Alteration: 60%
      Addition: 20%
      Deletion: 20%

In [144]:
chromosome = Chromosome(config)
print(chromosome)
pd.DataFrame(
    chromosome.genotype_to_list('deep'),
    columns=['exercise_index', 'duration', 'base10_schedule'],
    index = [f"Exercise {i+1}" for i in range(chromosome.size())]
)

[[166, 435, 91], [131, 225, 31], [313, 690, 88], [341, 420, 1], [196, 390, 38]]

            exercise_index  duration  base10_schedule
Exercise 1             166       435               91
Exercise 2             131       225               31
Exercise 3             313       690               88
Exercise 4             341       420                1
Exercise 5             196       390               38

In [145]:
chromosome.mutate()
print(chromosome)
pd.DataFrame(
    chromosome.genotype_to_list('deep'),
    columns=['exercise_index', 'duration', 'base10_schedule'],
    index = [f"Exercise {i+1}" for i in range(chromosome.size())]
)

[[166, 435, 91], [131, 225, 31], [293, 690, 88], [341, 420, 1], [196, 390, 38]]

            exercise_index  duration  base10_schedule
Exercise 1             166       435               91
Exercise 2             131       225               31
Exercise 3             293       690               88
Exercise 4             341       420                1
Exercise 5             196       390               38

In [ ]:
hello